<div>
      <h2>INFO </h2>
      <ul>
            <li>Argumentos de Entrada: {{arg}}</li>
            <li>Sistema Operativo: {{so}}</li>
            <li>Version de Node: {{vn}}</li>
            <li>rss: {{rss}}</li>
            <li>path de ejecucion: {{pe}}</li>
            <li>Process Id: {{pid}}</li>
            <li>Carpeta del proytecto: {{carp}}</li>
            <li>número de procesadores: {{cpus}}</li>
      </ul>
</div>